services:
  db:
    image: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    restart: always
    env_file:
      - .env
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  pgdata:
